.Map {
  position: absolute;
  width: 60%;
  height: calc(100% - 70px);
  background: darkorchid;
  top: 70px;
  left: 40%;
  transition: 0.6s cubic-bezier(0.42, 0, 0, 0.99);
  transform: translateZ(0);
}

@media screen and (max-width: 768px) {
  .Map {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    background: darkorchid;
    top: 70px;
    left: -800px;
  }

  .MapOpen {
    left: 0;
  }
}
