.LeftBar {
  padding: 0 20px;
  position: relative;
  height: 100%;
  overflow: auto;
  :global(.ant-tabs-tab) {
    min-width: 50px;
    justify-content: center;
    font-size: 16px;
    padding: 6px 24px;
  }
  :global(.ant-tabs-tab + .ant-tabs-tab) {
    margin-left: 10px;
  }
}

// fixed siderbar footer
.LeftBarFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0px 20px 40px;
  text-align: center;
  margin-left: -20px;
  width: 40%;
  background: #1b1b22;
}

@media screen and (max-width: 768px) {
  .LeftBarFooter {
    width: 100% !important;
  }
}

.ToggleMap {
  position: fixed;
  bottom: 120px;
  display: flex;
  width: 100px;
  margin: auto;
  right: 0;
  left: 0;
  justify-content: center;
  z-index: 2;

  button {
    background: #37003c !important;
    box-shadow: 0px 0px 15px 3px rgb(52 212 153 / 78%) !important;
  }
}

@media screen and (min-width: 768px) {
  .ToggleMap {
    display: none;
  }
}

.ButtonLogo {
  display: inline-flex;
  margin-left: 10px;
  position: relative;
  height: 25px;
  padding-top: 3px;
}

.ButtonWrapper {
  display: flex;

  > span {
    display: inline-flex !important;
    -webkit-align-self: center !important;
    align-self: center !important;
  }
}
