.LeftBar {
  padding: 0 20px;
  position: relative;
  height: 100%;
  overflow: auto;
  :global(.ant-tabs-tab) {
    min-width: 50px;
    justify-content: center;
    font-size: 16px;
  }
  :global(.ant-tabs-tab + .ant-tabs-tab) {
    margin-left: 10px;
  }
}

// fixed siderbar footer
.LeftBarFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0px 20px 40px;
  text-align: center;
  margin-left: -20px;
  width: 40%;
  background: #1b1b22;
}

.DataCard {
  cursor: pointer;
}

.DataCardHeading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

  & > :global(svg) {
    font-size: 20px;
    background: #37003c;
    width: 26px;
    border-radius: 2px;
  }
}

.DataCardBody {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  justify-content: space-between;
}

.DataCardExpand {
  > svg {
    font-size: 20px;
  }
}
