.SideBar {
  position: absolute;
  // background: whitesmoke;
  height: calc(100% - 70px);
  left: 0;
  top: 70px;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .SideBar {
    position: absolute;
    // background: whitesmoke;
    height: calc(100% - 70px);
    left: 0;
    top: 70px;
    width: 100%;
  }
}
