.ProviderWrapper {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.ProviderImage {
  width: 90px;
  object-fit: cover;
  border-radius: 4px;
}

.ProviderCard {
  background-color: #141414;
  :global(.ant-card-body) {
    background-color: #141414;
    @media screen and (min-width: 768px) {
      min-height: 200px;
    }
  }
}

.AnalysisButton {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 15px;

  button {
    display: flex;
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
