@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.mt-20 {
  margin-top: 20px;
}

.skinny-button {
  height: 10px !important;
  padding: 0 !important;
}

.playerButton {
  height: 29px !important;
  padding: 4px !important;
  font-size: 12px !important;

  &:last-child {
    border-radius: 0px 4px 4px 0px;
  }
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &-selected {
    @extend .playerButton;
    background-color: #29916a !important;
    border-color: #29916a !important;
    color: #1b1b22 !important;
  }
}

.playerButton:not(:last-child):not(:first-child) {
  border-radius: 0;
}

.ant-result-icon {
  font-size: 40px;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.drop {
  animation: drop 0.3s linear forwards var(--delay-time);
}
